      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/writer/" class="active">{{ user.username }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/stories/all/">Оповідання</a></li>
            <li><a href="#">Друзі</a></li>
            <li><a href="#">Повідомлення(0)</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url logout %}">Вихід</a></li>
          </ul>
        </div>
      </div>