      <div class="navbar" role="navigation">
        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav">
              <li>
                  <form method="post" action="#">
                    <input type="text" class="form-control" placeholder="Пошук" id="search" name="search" required autofocus>
                  </form>
              </li>
          </ul>
          <ul class="nav navbar-right">
            <li><a href="/stories/add/">Додати</a></li>
          </ul>
        </div>
      </div>