      <div class="navbar" role="navigation">
        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav">
              <li>
                  <form method="post" action="/stories/all/">
                      {% csrf_token %}
                    <input type="text" class="form-control"
                           placeholder="{% if search %}{{ search }}{% else %}Пошук{% endif %}" name="search" required autofocus>
                  </form>
              </li>
          </ul>
          <ul class="nav navbar-right">
            <li><a href="/stories/add/">Додати</a></li>
          </ul>
        </div>
      </div>