{% extends "base.html" %}

{% block title %}{{ story.title }}{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-lg-2">
        {% include 'stories/left_menu.html' %}
    </div>
    <div class="row">

        <h1>Story: {{ commit.branch.story.title }}(<a href="/writer/{{ commit.branch.story.user.id }}/">{{ commit.branch.story.user }}</a>)</h1>
        <h3>Brunch: {{ commit.branch.title }}(<a href="/writer/{{ commit.branch.user.id }}/">{{ commit.branch.user }}</a>)</h3>
        <h4>Commit: {{ commit.title }}({{ commit.code }})</h4>
        <p>{{ commit_info }}</p>
    </div>
</div>
{% endblock %}