{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block links %}
<link href="/static/bootstrap/css/custom.css" rel="stylesheet">
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-lg-2">
        {% include 'stories/left_menu.html' %}
    </div>
    <div class="col-lg-10">
            <fieldset>
                <a href="/stories/story/{{ branch.id }}/">Назад</a>
                {% for b in branch.story.story_version.all %}
                    <h4><a href="/stories/edit/{{ b.id }}/">{{ b.title }}</a></h4>
                {% endfor %}
                <div class="fieldWrapper">
                    <div class="form-actions">
                        <h1>{{ branch.title }}</h1>
                        <form method="post" action="/stories/edit/{{ branch.id }}/" enctype="multipart/form-data">
                            {% csrf_token %}
                        <table class="table table-striped">
                            <tr>
                                <td>Title</td>
                                <td><input type="text" name="title" size="40" value="{{ branch.title }}" ></td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td><textarea name="description" cols="40" rows="3">{{ branch.description }}</textarea></td>
                            </tr>
                            <tr>
                                <td>Poster</td>
                                <td>( Зараз: {{ branch.poster }})<input type="file" name="poster" value="{{ branch.poster }}" ></td>
                            </tr>
                            <tr>
                                <td>Language</td>
                                <td>
                                    <select name="language">
                                    {% for l in languages %}
                                        <option value="{{ l.id }}">{{ l.language }}</option>
                                    {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        </table>
                         <button class="btn btn-primary" type="submit">Зберегти</button>
                        </form>
                    </div>
                </div>
            </fieldset>
    </div>
</div>
{% endblock %}