{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block links %}
<link href="/static/bootstrap/css/custom.css" rel="stylesheet">
{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-lg-2">
        {% include 'stories/left_menu.html' %}
    </div>
    <div class="col-lg-10">
            <fieldset>
                <ul class="nav nav-pills nav-justified">
                    <li class="active" ><a href="/stories/story/{{ branch.id }}/">Назад</a></li>
                {% for b in branch.story.story_version.all %}
                    <li><a href="/stories/edit/{{ b.id }}/">{{ b.title }}</a></li>
                {% endfor %}
                </ul>

                <div class="fieldWrapper">
                    <div class="form-actions">
                        <h1>{{ branch.title }}</h1>
                        <form method="post" action="/stories/edit/{{ branch.id }}/" enctype="multipart/form-data">
                            {% csrf_token %}
                        <table class="table table-striped">
                            <tr>
                                <td>Назва</td>
                                <td><input class="form-control" type="text" name="title" size="40" value="{{ branch.title }}" ></td>
                            </tr>
                            <tr>
                                <td>Опис</td>
                                <td><textarea class="form-control" name="description" cols="40" rows="3">{{ branch.description }}</textarea></td>
                            </tr>
                            <tr>
                                <td>Зображення</td>
                                <td>( Зараз: {{ branch.poster }})<input class="form-control" type="file" name="poster" value="{{ branch.poster }}" ></td>
                            </tr>
                            <tr>
                                <td>Мова</td>
                                <td>
                                    <select class="form-control" name="language">
                                    {% for l in languages %}
                                        <option value="{{ l.id }}">{{ l.language }}</option>
                                    {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        </table>
                         <button class="btn btn-primary" type="submit">Зберегти</button>
                        </form>
                    </div>
                </div>
            </fieldset>
    </div>
</div>
{% endblock %}