<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Social Story Reader</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="//ssr.herokuapp.com/css/loading.css">
  <link rel="stylesheet" href="//ssr.herokuapp.com/css/reader.css">
  <script src='//ssr.herokuapp.com/js/all.min.js'></script>
</head>

<body class="outer">
  <!--<div id="reader0">-->
    <!--<div id="container0" class="ssr-container">-->
        <!--<form action="/writer/comment/add/{{ branch.id }}/"  method="post" >-->
            {% csrf_token %}
            <!--Comment:-->
            <!--Private?<input name="private" type="checkbox">-->
            <!--<input type="text" size="1" name="paragraph_index" value="0">-->
            <!--<input type="text" size="1" name="first_char" value="10">-->
            <!--<input type="text" size="1" name="last_char" value="6">-->
            <!--<input type="text" size="10" name="content" value="comment">-->
            <!--<button type="submit">Send</button>-->
        <!--</form>-->
        <!--<form action="/writer/note/add/{{ branch.id }}/"  method="post" >-->
            <!--{% csrf_token %}-->
            <!--Note:-->
            <!--<input type="text" size="1" name="paragraph_index" value="0">-->
            <!--<input type="text" size="10" name="content">-->
            <!--<button type="submit">Send</button>-->
        <!--</form>-->
        <!--<form action="/writer/mark/add/{{ branch.id }}/"  method="post" >-->
            <!--{% csrf_token %}-->
            <!--Mark:-->
            <!--<input type="text" size="1" name="paragraph_index" value="0">-->
            <!--<button type="submit">Send</button>-->
        <!--</form>-->
    <!--</div>-->
  <!--</div>-->

  <div id="reader" class="middle" data-branch-id="{{ branch.id }}">

    <div id="progress-bar-outer" class="container outer">
      <div class="middle">

        <div class="inner">

            <div class="main clearfix">
              <div class="loading"></div>
            </div>

        </div>

      </div>
    </div>

    <div id="container" class="ssr-container"></div>

    <div id="pager" class="container" style="text-align: center; display:none;">
      <a class="btn btn-primary" href="#" data-pager-navigation-action="previous">Предыдущая</a>
      <a class="btn btn-primary" href="#" data-pager-navigation-action="next">Следующая</a>
    </div>
  </div>

  <div id="content" style="display: none">
    {{ content|safe }}
  </div>

</body>
</html>