<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Social Story Reader</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"> -->
  <link rel="stylesheet" href="/static/medium/css/reader.css">
      <!--<script src="/static/medium/js/vendors/jquery.min.js"></script>-->
  <script src='/static/medium/js/core/ssr.js'></script>
  <script src='/static/medium/js/core/ssr.contents.js'></script>
</head>

<body>
  <div id="reader">
    <div id="container" class="ssr-container">
    </div>
  </div>

  <div id="content" style="display: none">
    {{ content|safe }}
  </div>

  <script type="text/javascript">
    SSR.initialize();
  </script>

</body>
</html>