{% extends "base.html" %}

{% block title %}{{ story.title }}{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-lg-2">
        {% include 'stories/left_menu.html' %}
    </div>
    <div class="col-lg-10">
        {% include 'stories/top_menu.html' %}

        <div class="fieldWrapper">
            <div class="form-actions">
                <h1>{{ story.title }}(<a href="/writer/{{ b.user.id }}/">{{ b.user }}</a>)</h1>
                {% for b in story.story_version.all %}
                <br/>
                <h4>{{ b.title }}(<a href="/writer/{{ b.user.id }}/">{{ b.user }}</a>)</h4>
                <table class="table table-striped">
                    <th>Код</th>
                    <th>Коментар</th>
                    <th>Дата</th>
                    {% for c in b.commit_branch.all %}
                    <tr>
                       <td><a href="/stories/history/{{ b.id }}/{{ c.id }}/"
                           >{{ c.code }}</a></td>
                        <td>{{ c.title }}</td>
                       <td>{{ c.date_add }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}