{% extends "base.html" %}

{% block title %}{{ story.title }}{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-lg-2">
        {% include 'stories/left_menu.html' %}
    </div>
    <div class="col-lg-10">
        {% include 'stories/top_menu.html' %}

        <div class="fieldWrapper">
            <div class="form-actions">
                <h4>{{ branch.title }}(<a href="/writer/{{ branch.user.id }}/">{{ branch.user }}</a>)</h4>
                <table class="table table-striped">
                    <th>Код</th>
                    <th>Коментар</th>
                    <th>Дата</th>
                    {% for c in branch.commit_branch.all %}
                    <tr>
                       <td><a href="/stories/history/{{ branch.id }}/{{ c.id }}/"
                           >{{ c.code }}</a></td>
                        <td>{{ c.title }}</td>
                       <td>{{ c.date_add }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}