{% extends "base.html" %}

{% block title %}{{ story.title }}{% endblock %}

{% block content  %}
<div class="row">
    <div class="col-lg-2">
        {% include 'stories/left_menu.html' %}
    </div>
    <div class="row">
        <div class="col-lg-8">
            <legend>{{ story.title }}
                {% if favorite %}
                    (<a href="/stories/favorite/{{ story.id }}/">Додати у вибрані</a>)
                {% endif %}
                {% if my_story %}
                    (<a href="/stories/edit/{{ story.id }}/">Редагувати</a>)
                {% endif %}
            </legend>
        </div>
        <div class="col-lg-3">
                <img src="{{ story.poster.url }}" width="250" height="400" />
            </div>
            <div class="col-lg-2">
                <div class="fieldWrapper">
                    <p> Автор:              <a href="/writer/{{ story.user_id }}/">{{ story.user }}</a> </p>
                    <p> Жанр:               TEMP_GENRE </p>
                    <p> Мова:               {{ story.language.language }} </p>
                    <p> Рейтинг:            {{ story.rating }} </p>
                    <p> Кількість голосів:  {{ story.voteCount }}
                    {% if vote %}<br/>
                       (<a href="/stories/vote/{{ story.id }}/1/">1 </a>
                        <a href="/stories/vote/{{ story.id }}/2/">2 </a>
                        <a href="/stories/vote/{{ story.id }}/3/">3 </a>
                        <a href="/stories/vote/{{ story.id }}/4/">4 </a>
                        <a href="/stories/vote/{{ story.id }}/5/">5 </a>)
                    {% endif %}                                             </p>
                    <p> Кількість сторінок: {{ story.pages }} </p>
                    <p> <a href="{{ story.story.url }}">Переглянути текст файлу</a> </p>
                </div>
            </div>
            <div class="col-lg-6">
                <p> Опис: <br/> {{ story.description }} </p>
            </div>
    </div>
    <div class="row">

    </div>
</div>
{% endblock %}